<h2>Sum Calculator</h2>
<form (ngSubmit)="calculateSum()">
  <mat-form-field>
    <mat-label>Enter Number 1:</mat-label>
    <input matInput type="number" name="num1" [(ngModel)]="ci.selectedItem.number1" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Enter Number 2:</mat-label>
    <input matInput type="number" name="num2" [(ngModel)]="ci.selectedItem.number2" required>
  </mat-form-field>

  <button mat-raised-button color="warn" type="submit">Calculate Sum</button>
</form>






